openapi: 3.1.0
info:
  contact:
    email: soporte@facturapi.io
    name: Facturapi
    url: https://www.facturapi.io
  description: |
    <br />
    <br />

    En esta página enlistamos todos los métodos
    disponibles en la API de Facturapi, así como
    la referencia completa de los parámetros
    que acepta cada uno. Para ver las propiedades
    anidadas de un objeto o arreglo de objetos,
    puedes hacer clic sobre el nombre del campo y
    expandirlo.

    La API de Facturapi está diseñada con el
    estándar [REST](https://developer.mozilla.org/en-US/docs/Glossary/REST)
    en mente. Los endpoints de la API están agrupados
    por recursos, tienen URLs predecibles, las respuestas
    tienen formato JSON y usamos códigos HTTP de respuesta,
    autenticación y verbos estándar.

    Durante el desarrollo, puedes usar la API de Facturapi en
    ambiente Test y las facturas que emitas no se enviarán al SAT ni
    tendrán validez fiscal.

    La llave secreta que utilices para autenticarte
    determinará tanto el ambiente en el que se creará la factura
    (Test o Live), así como la organización a utilizar como emisor
    de tu factura, o bien como dueña del recurso que solicites crear.
  title: Facturapi
  version: "2.0"
  x-logo:
    url: https://www.facturapi.io/img/logo.svg
    altText: Facturapi
servers:
- url: https://www.facturapi.io/v2
tags:
- name: tools
  x-displayName: Herramientas
- name: customer
  x-displayName: Clientes
- name: product
  x-displayName: Productos
- name: invoice
  x-displayName: Facturas
- name: receipt
  x-displayName: Recibos
- name: retention
  x-displayName: Retenciones
- name: organization
  x-displayName: Organizaciones
- description: |
    Los eventos ocurren cuando Facturapi realiza una operación
    de manera asíncrona, es decir, fuera del ciclo de vida de
    una petición a la API.

    Para recibir estos eventos en tu servidor, puedes registrar una URL de escucha
    creando un **Webhook** desde tu dashboard: https://dashboard.facturapi.io/integration/webhooks
  name: events
  x-displayName: Eventos
- description: "Principales catálogos del SAT, incluídos aquí por conveniencia. Puedes\
    \ consultar estos y más catálogos desde el portal oficial del SAT: http://omawww.sat.gob.mx/tramitesyservicios/Paginas/anexo_20_version3-3.htm\n\
    \n### Forma de pago\n\nClave | Descripción\n:-----:| -----------\n\"01\" | Efectivo\n\
    \"02\" | Cheque nominativo\n\"03\" | Transferencia electrónica de fondos\n\"04\"\
    \ | Tarjeta de crédito\n\"05\" | Monedero electrónico\n\"06\" | Dinero electró\
    nico\n\"08\" | Vales de despensa\n\"12\" | Dación en pago\n\"13\" | Pago por subrogació\
    n\n\"14\" | Pago por consignación\n\"15\" | Condonación\n\"17\" | Compensació\
    n\n\"23\" | Novación\n\"24\" | Confusión\n\"25\" | Remisión de deuda\n\"26\" |\
    \ Prescripción o caducidad\n\"27\" | A satisfacción del acreedor\n\"28\" | Tarjeta\
    \ de débito\n\"29\" | Tarjeta de servicios\n\"30\" | Aplicación de anticipos\n\
    \"31\" | Intermediario pagos\n\"99\" | Por definir\n\n### Método de pago\n\nClave\
    \ | Descripción\n:-----:| -----------\n\"PUE\" | Pago en una sola exhibición (de\
    \ contado).\n\"PPD\" | Pago en parcialidades o diferido (total o parcialmente\
    \ a crédito). Requiere expedir un comprobante de pago cuando se reciba un pago\
    \ subsecuente.\n\n### Uso CFDI\n\nClave | Descripción | Régimen Fiscal \n:-----:|\
    \ ----------- | -----------\n\"G01\" | Adquisición de mercancías. | 601, 603,\
    \ 606, 612, 620, 621, 622, 623, 624, 625,626\n\"G02\" | Devoluciones, descuentos\
    \ o bonificaciones. | 601, 603, 606, 612, 620, 621, 622, 623, 624, 625,626\n\"\
    G03\" | Gastos en general. | 601, 603, 606, 612, 620, 621, 622, 623, 624, 625,\
    \ 626\n\"I01\" | Construcciones. | 601, 603, 606, 612, 620, 621, 622, 623, 624,\
    \ 625, 626\n\"I02\" | Mobiliario y equipo de oficina por inversiones. | 601, 603,\
    \ 606, 612, 620, 621, 622, 623, 624, 625, 626\n\"I03\" | Equipo de transporte.\
    \ | 601, 603, 606, 612, 620, 621, 622, 623, 624, 625, 626\n\"I04\" | Equipo de\
    \ computo y accesorios. | 601, 603, 606, 612, 620, 621, 622, 623, 624, 625, 626\n\
    \"I05\" | Dados, troqueles, moldes, matrices y herramental. | 601, 603, 606, 612,\
    \ 620, 621, 622, 623, 624, 625, 626\n\"I06\" | Comunicaciones telefónicas. | 601,\
    \ 603, 606, 612, 620, 621, 622, 623, 624, 625, 626\n\"I07\" | Comunicaciones satelitales.\
    \ | 601, 603, 606, 612, 620, 621, 622, 623, 624, 625, 626\n\"I08\" | Otra maquinaria\
    \ y equipo. | 601, 603, 606, 612, 620, 621, 622, 623, 624, 625, 626\n\"D01\" |\
    \ Honorarios médicos, dentales y gastos hospitalarios. | 605, 606, 608, 611, 612,\
    \ 614, 607, 615, 625\n\"D02\" | Gastos médicos por incapacidad o discapacidad.\
    \ | 605, 606, 608, 611, 612, 614, 607, 615, 625\n\"D03\" | Gastos funerales. |\
    \ 605, 606, 608, 611, 612, 614, 607, 615, 625\n\"D04\" | Donativos. | 605, 606,\
    \ 608, 611, 612, 614, 607, 615, 625\n\"D05\" | Intereses reales efectivamente\
    \ pagados por créditos hipotecarios (casa habitación). | 605, 606, 608, 611, 612,\
    \ 614, 607, 615, 625\n\"D06\" | Aportaciones voluntarias al SAR. | 605, 606, 608,\
    \ 611, 612, 614, 607, 615, 625\n\"D07\" | Primas por seguros de gastos médicos.\
    \ | 605, 606, 608, 611, 612, 614, 607, 615, 625\n\"D08\" | Gastos de transportació\
    n escolar obligatoria. | 605, 606, 608, 611, 612, 614, 607, 615, 625\n\"D09\"\
    \ | Depósitos en cuentas para el ahorro, primas que tengan como base planes de\
    \ pensiones. | 605, 606, 608, 611, 612, 614, 607, 615, 625\n\"D10\" | Pagos por\
    \ servicios educativos (colegiaturas). | 605, 606, 608, 611, 612, 614, 607, 615,\
    \ 625\n\"S01\" | Sin efectos fiscales.  | 601, 603, 605, 606, 608, 610, 611, 612,\
    \ 614, 616, 620, 621, 622, 623, 624, 607, 615, 625, 626\n\"CP01\" | Pagos |  601,\
    \ 603, 605, 606, 608, 610, 611, 612, 614, 616, 620, 621, 622, 623, 624, 607, 615,\
    \ 625, 626\n\"CN01\" | Nómina | 605\n\n### Relación entre facturas\n\nClave |\
    \ Descripción\n:-----:| -----------\n\"01\" | Nota de crédito de los documentos\
    \ relacionados\n\"02\" | Nota de débito de los documentos relacionados\n\"03\"\
    \ | Devolución de mercancía sobre facturas o traslados previos\n\"04\" | Sustitució\
    n de los CFDI previos\n\"05\" | Traslados de mercancias facturados previamente\n\
    \"06\" | Factura generada por los traslados previos\n\"07\" | CFDI por aplicació\
    n de anticipo\n\"08\" | Factura generada por pagos en parcialidades\n\"09\" |\
    \ Factura generada por pagos diferidos\n\n### Régimen Fiscal\n\nClave | Descripció\
    n\n:-----:| -----------\n\"601\" |\tGeneral de Ley Personas Morales\n\"603\" |\t\
    Personas Morales con Fines no Lucrativos\n\"605\" |\tSueldos y Salarios e Ingresos\
    \ Asimilados a Salarios\n\"606\" |\tArrendamiento\n\"608\" |\tDemás ingresos\n\
    \"609\" |\tConsolidación\n\"610\" |\tResidentes en el Extranjero sin Establecimiento\
    \ Permanente en México\n\"611\" |\tIngresos por Dividendos (socios y accionistas)\n\
    \"612\" |\tPersonas Físicas con Actividades Empresariales y Profesionales\n\"\
    614\" |\tIngresos por intereses\n\"616\" |\tSin obligaciones fiscales\n\"620\"\
    \ |\tSociedades Cooperativas de Producción que optan por diferir sus ingresos\n\
    \"621\" |\tIncorporación Fiscal\n\"622\" |\tActividades Agrícolas, Ganaderas,\
    \ Silvícolas y Pesqueras\n\"623\" |\tOpcional para Grupos de Sociedades\n\"624\"\
    \ |\tCoordinados\n\"628\" |\tHidrocarburos\n\"607\" |\tRégimen de Enajenación\
    \ o Adquisición de Bienes\n\"629\" |\tDe los Regímenes Fiscales Preferentes y\
    \ de las Empresas Multinacionales\n\"630\" |\tEnajenación de acciones en bolsa\
    \ de valores\n\"615\" |\tRégimen de los ingresos por obtención de premios\n\"\
    625\" |\tRégimen de las Actividades Empresariales con ingresos a través de Plataformas\
    \ Tecnológicas\n\"626\" | Régimen Simplificado de Confianza\n\n### Meses y bimestres\n\
    \nClave | Descripción\n:-----:| -----------\n01 | Enero\n02 | Febrero\n03 | Marzo\n\
    04 | Abril\n05 | Mayo\n06 | Junio\n07 | Julio\n08 | Agosto\n09 | Septiembre\n\
    10 | Octubre\n11 | Noviembre\n12 | Diciembre\n13 | Enero-Febrero\n14 | Marzo-Abril\n\
    15 | Mayo-Junio\n16 | Julio-Agosto\n17 | Septiembre-Octubre\n18 | Noviembre-Diciembre\n\
    \n### Tipo de Contrato\n\nClave | Descripción\n:-----:| -----------\n\"01\" |\
    \ Contrato de trabajo por tiempo indeterminado\n\"02\" | Contrato de trabajo para\
    \ obra determinada\n\"03\" | Contrato de trabajo por tiempo determinado\n\"04\"\
    \ | Contrato de trabajo por temporada\n\"05\" | Contrato de trabajo sujeto a prueba\n\
    \"06\" | Contrato de trabajo con capacitación inicial\n\"07\" | Modalidad de contratació\
    n por pago de hora laborada\n\"08\" | Modalidad de trabajo por comisión laboral\n\
    \"09\" | Modalidades de contratación donde no existe relación de trabajo\n\"10\"\
    \ | Jubilación, pensión, retiro.\n\"99\" | Otro contrato\n\n### Tipo de Jornada\n\
    \nClave | Descripción\n:-----:| -----------\n\"01\" | Diurna\n\"02\" | Nocturna\n\
    \"03\" | Mixta\n\"04\" | Por hora\n\"05\" | Reducida\n\"06\" | Continuada\n\"\
    07\" | Partida\n\"08\" | Por turnos\n\"99\" | Otra Jornada\n\n### Tipo de Régimen\n\
    \nClave | Descripción\n:-----:| -----------\n\"02\" | Sueldos (Incluye ingresos\
    \ señalados en la fracción I del artículo 94 de LISR)\n\"03\" | Jubilados\n\"\
    04\" | Pensionados\n\"05\" | Asimilados Miembros Sociedades Cooperativas Produccion\n\
    \"06\" | Asimilados Integrantes Sociedades Asociaciones Civiles\n\"07\" | Asimilados\
    \ Miembros consejos\n\"08\" | Asimilados comisionistas\n\"09\" | Asimilados Honorarios\n\
    \"10\" | Asimilados acciones\n\"11\" | Asimilados otros\n\"12\" | Jubilados o\
    \ Pensionados\n\"13\" | Indemnización o Separación\n\"99\" | Otro Regimen\n\n\
    ### Riesgo del Puesto\n\nClave | Descripción\n:-----:| -----------\n\"1\" | Clase\
    \ I\n\"2\" | Clase II\n\"3\" | Clase III\n\"4\" | Clase IV\n\"5\" | Clase V\n\"\
    99\" | No aplica\n\n### Periodicidad del Pago\n\nClave | Descripción\n:-----:|\
    \ -----------\n\"01\" | Diario\n\"02\" | Semanal\n\"03\" | Catorcenal\n\"04\"\
    \ | Quincenal\n\"05\" | Mensual\n\"06\" | Bimestral\n\"07\" | Unidad obra\n\"\
    08\" | Comisión\n\"09\" | Precio alzado\n\"10\" | Decenal\n\"99\" | Otra Periodicidad\n\
    \n### Tipo de Percepción\n\nClave | Descripción\n:-----:| -----------\n\"001\"\
    \ | Sueldos, Salarios  Rayas y Jornales\n\"002\" | Gratificación Anual (Aguinaldo)\n\
    \"003\" | Participación de los Trabajadores en las Utilidades PTU\n\"004\" | Reembolso\
    \ de Gastos Médicos Dentales y Hospitalarios\n\"005\" | Fondo de Ahorro\n\"006\"\
    \ | Caja de ahorro\n\"009\" | Contribuciones a Cargo del Trabajador Pagadas por\
    \ el Patrón\n\"010\" | Premios por puntualidad\n\"011\" | Prima de Seguro de vida\n\
    \"012\" | Seguro de Gastos Médicos Mayores\n\"013\" | Cuotas Sindicales Pagadas\
    \ por el Patrón\n\"014\" | Subsidios por incapacidad\n\"015\" | Becas para trabajadores\
    \ y/o hijos\n\"019\" | Horas extra\n\"020\" | Prima dominical\n\"021\" | Prima\
    \ vacacional\n\"022\" | Prima por antigüedad\n\"023\" | Pagos por separación\n\
    \"024\" | Seguro de retiro\n\"025\" | Indemnizaciones\n\"026\" | Reembolso por\
    \ funeral\n\"027\" | Cuotas de seguridad social pagadas por el patrón\n\"028\"\
    \ | Comisiones\n\"029\" | Vales de despensa\n\"030\" | Vales de restaurante\n\"\
    031\" | Vales de gasolina\n\"032\" | Vales de ropa\n\"033\" | Ayuda para renta\n\
    \"034\" | Ayuda para artículos escolares\n\"035\" | Ayuda para anteojos\n\"036\"\
    \ | Ayuda para transporte\n\"037\" | Ayuda para gastos de funeral\n\"038\" | Otros\
    \ ingresos por salarios\n\"039\" | Jubilaciones, pensiones o haberes de retiro\n\
    \"044\" | Jubilaciones, pensiones o haberes de retiro en parcialidades\n\"045\"\
    \ | Ingresos en acciones o títulos valor que representan bienes\n\"046\" | Ingresos\
    \ asimilados a salarios\n\"047\" | Alimentación diferentes a los establecidos\
    \ en el Art 94 último párrafo LISR\n\"048\" | Habitación\n\"049\" | Premios por\
    \ asistencia\n\"050\" | Viáticos\n\"051\" | Pagos por gratificaciones, primas,\
    \ compensaciones, recompensas u otros en parcialidades\n\"052\" | Pagos por jubilació\
    n en parcialidades derivados de una resolución judicial\n\"053\" | Pagos por jubilació\
    n en una sola exhibición derivados de la ejecución de una resolución judicial\n\
    \n### Tipo de Horas\n\nClave | Descripción\n:-----:| -----------\n\"01\" | Dobles\n\
    \"02\" | Triples\n\"03\" | Simples\n\n### Tipo de Deducción\n\nClave | Descripció\
    n\n:-----:| -----------\n\"001\" | Seguridad social\n\"002\" | ISR\n\"003\" |\
    \ Aportaciones a retiro, cesantía en edad avanzada y vejez.\n\"004\" | Otros\n\
    \"005\" | Aportaciones a Fondo de vivienda\n\"006\" | Descuento por incapacidad\n\
    \"007\" | Pensión alimenticia\n\"008\" | Renta\n\"009\" | Préstamos provenientes\
    \ del Fondo Nacional de la Vivienda para los Trabajadores\n\"010\" | Pago por\
    \ crédito de vivienda\n\"011\" | Pago de abonos INFONACOT\n\"012\" | Anticipo\
    \ de salarios\n\"013\" | Pagos hechos con exceso al trabajador\n\"014\" | Errores\n\
    \"015\" | Pérdidas\n\"016\" | Averías\n\"017\" | Adquisición de artículos producidos\
    \ por la empresa o establecimiento\n\"018\" | Cuotas para la constitución y fomento\
    \ de sociedades cooperativas y de cajas de ahorro\n\"019\" | Cuotas sindicales\n\
    \"020\" | Ausencia (Ausentismo)\n\"021\" | Cuotas obrero patronales\n\"022\" |\
    \ Impuestos Locales\n\"023\" | Aportaciones voluntarias\n\"024\" | Ajuste en Gratificació\
    n Anual (Aguinaldo) Exento\n\"025\" | Ajuste en Gratificación Anual (Aguinaldo)\
    \ Gravado\n\"026\" | Ajuste en Participación de los Trabajadores en las Utilidades\
    \ PTU Exento\n\"027\" | Ajuste en Participación de los Trabajadores en las Utilidades\
    \ PTU Gravado\n\"028\" | Ajuste en Reembolso de Gastos Médicos Dentales y Hospitalarios\
    \ Exento\n\"029\" | Ajuste en Fondo de ahorro Exento\n\"030\" | Ajuste en Caja\
    \ de ahorro Exento\n\"031\" | Ajuste en Contribuciones a Cargo del Trabajador\
    \ Pagadas por el Patrón Exento\n\"032\" | Ajuste en Premios por puntualidad Gravado\n\
    \"033\" | Ajuste en Prima de Seguro de vida Exento\n\"034\" | Ajuste en Seguro\
    \ de Gastos Médicos Mayores Exento\n\"035\" | Ajuste en Cuotas Sindicales Pagadas\
    \ por el Patrón Exento\n\"036\" | Ajuste en Subsidios por incapacidad Exento\n\
    \"037\" | Ajuste en Becas para trabajadores y/o hijos Exento\n\"038\" | Ajuste\
    \ en Horas extra Exento\n\"039\" | Ajuste en Horas extra Gravado\n\"040\" | Ajuste\
    \ en Prima dominical Exento\n\"041\" | Ajuste en Prima dominical Gravado\n\"042\"\
    \ | Ajuste en Prima vacacional Exento\n\"043\" | Ajuste en Prima vacacional Gravado\n\
    \"044\" | Ajuste en Prima por antigüedad Exento\n\"045\" | Ajuste en Prima por\
    \ antigüedad Gravado\n\"046\" | Ajuste en Pagos por separación Exento\n\"047\"\
    \ | Ajuste en Pagos por separación Gravado\n\"048\" | Ajuste en Seguro de retiro\
    \ Exento\n\"049\" | Ajuste en Indemnizaciones Exento\n\"050\" | Ajuste en Indemnizaciones\
    \ Gravado\n\"051\" | Ajuste en Reembolso por funeral Exento\n\"052\" | Ajuste\
    \ en Cuotas de seguridad social pagadas por el patrón Exento\n\"053\" | Ajuste\
    \ en Comisiones Gravado\n\"054\" | Ajuste en Vales de despensa Exento\n\"055\"\
    \ | Ajuste en Vales de restaurante Exento\n\"056\" | Ajuste en Vales de gasolina\
    \ Exento\n\"057\" | Ajuste en Vales de ropa Exento\n\"058\" | Ajuste en Ayuda\
    \ para renta Exento\n\"059\" | Ajuste en Ayuda para artículos escolares Exento\n\
    \"060\" | Ajuste en Ayuda para anteojos Exento\n\"061\" | Ajuste en Ayuda para\
    \ transporte Exento\n\"062\" | Ajuste en Ayuda para gastos de funeral Exento\n\
    \"063\" | Ajuste en Otros ingresos por salarios Exento\n\"064\" | Ajuste en Otros\
    \ ingresos por salarios Gravado\n\"065\" | Ajuste en Jubilaciones, pensiones o\
    \ haberes de retiro en una sola exhibición Exento\n\"066\" | Ajuste en Jubilaciones,\
    \ pensiones o haberes de retiro en una sola exhibición Gravado\n\"067\" | Ajuste\
    \ en Pagos por separación Acumulable\n\"068\" | Ajuste en Pagos por separació\
    n No acumulable\n\"069\" | Ajuste en Jubilaciones, pensiones o haberes de retiro\
    \ en parcialidades Exento\n\"070\" | Ajuste en Jubilaciones, pensiones o haberes\
    \ de retiro en parcialidades Gravado\n\"071\" | Ajuste en Subsidio para el empleo\
    \ (efectivamente entregado al trabajador)\n\"072\" | Ajuste en Ingresos en acciones\
    \ o títulos valor que representan bienes Exento\n\"073\" | Ajuste en Ingresos\
    \ en acciones o títulos valor que representan bienes Gravado\n\"074\" | Ajuste\
    \ en Alimentación Exento\n\"075\" | Ajuste en Alimentación Gravado\n\"076\" |\
    \ Ajuste en Habitación Exento\n\"077\" | Ajuste en Habitación Gravado\n\"078\"\
    \ | Ajuste en Premios por asistencia\n\"079\" | Ajuste en Pagos distintos a los\
    \ listados\n\"080\" | Ajuste en Viáticos gravados\n\"081\" | Ajuste en Viáticos\
    \ (entregados al trabajador)\n\"082\" | Ajuste en Fondo de ahorro Gravado\n\"\
    083\" | Ajuste en Caja de ahorro Gravado\n\"084\" | Ajuste en Prima de Seguro\
    \ de vida Gravado\n\"085\" | Ajuste en Seguro de Gastos Médicos Mayores Gravado\n\
    \"086\" | Ajuste en Subsidios por incapacidad Gravado\n\"087\" | Ajuste en Becas\
    \ para trabajadores y/o hijos Gravado\n\"088\" | Ajuste en Seguro de retiro Gravado\n\
    \"089\" | Ajuste en Vales de despensa Gravado\n\"090\" | Ajuste en Vales de restaurante\
    \ Gravado\n\"091\" | Ajuste en Vales de gasolina Gravado\n\"092\" | Ajuste en\
    \ Vales de ropa Gravado\n\"093\" | Ajuste en Ayuda para renta Gravado\n\"094\"\
    \ | Ajuste en Ayuda para artículos escolares Gravado\n\"095\" | Ajuste en Ayuda\
    \ para anteojos Gravado\n\"096\" | Ajuste en Ayuda para transporte Gravado\n\"\
    097\" | Ajuste en Ayuda para gastos de funeral Gravado\n\"098\" | Ajuste a ingresos\
    \ asimilados a salarios gravados\n\"099\" | Ajuste a ingresos por sueldos y salarios\
    \ gravados\n\"100\" | Ajuste en Viáticos exentos\n\"101\" | ISR Retenido de ejercicio\
    \ anterior\n\"102\" | Ajuste a pagos por gratificaciones, primas, compensaciones,\
    \ recompensas u otros\n\"103\" | Ajuste a pagos en parcialidades derivados de\
    \ una resolución judicial gravados\n\"104\" | Ajuste a pagos en parcialidades\
    \ derivados de una resolución judicial exentos\n\"105\" | Ajuste a pagos en una\
    \ sola exhibición derivados de una resolución judicial gravados\n\"106\" | Ajuste\
    \ a pagos en una sola exhibición derivados de una resolución judicial exentos\n\
    \"107\" | Ajuste al Subsidio Causado\n\n### Tipo de Otro Pago\n\nClave | Descripció\
    n\n:-----:| -----------\n\"001\" | Reintegro de ISR pagado en exceso.\n\"002\"\
    \ | Subsidio para el empleo (efectivamente entregado al trabajador).\n\"003\"\
    \ | Viáticos (entregados al trabajador).\n\"004\" | Aplicación de saldo a favor\
    \ por compensación anual.\n\"005\" | Reintegro de ISR retenido en exceso de ejercicio\
    \ anterior\n\"006\" | Alimentos en bienes (Servicios de comedor y comida).\n\"\
    007\" | ISR ajustado por subsidio.\n\"008\" | Subsidio efectivamente entregado\
    \ que no correspondía.\n\"009\" | Reembolso de descuentos efectuados para el cré\
    dito de vivienda.\n\"999\" | Pagos distintos a los listados.\n\n### Tipo de Incapacidad\n\
    \nClave | Descripción\n:-----:| -----------\n\"01\" | Riesgo de trabajo.\n\"02\"\
    \ | Enfermedad en general.\n\"03\" | Maternidad.\n\"04\" | Licencia por cuidados\
    \ médicos de hijos diagnosticados con cáncer.\n\n### Clave de retención\n\nClave\
    \ | Descripción\n:-----:| -----------\n\"01\" | Servicios profesionales.\n\"02\"\
    \ | Regalías por derechos de autor.\n\"03\" | Autotransporte terrestre de carga.\n\
    \"04\" | Servicios prestados por comisionistas.\n\"05\" | Arrendamiento.\n\"06\"\
    \ | Enajenación de acciones.\n\"07\" | Enajenación de bienes objeto de la LIEPS,\
    \ a través de mediadores, agentes, representantes, corredores, consignatarios\
    \ o distribuidores.\n\"08\" | Enajenación de bienes inmuebles consignada en escritura\
    \ pública.\n\"09\" | Enajenación de otros bienes, no consignada en escritura pú\
    blica.\n\"10\" | Adquisición de desperdicios industriales.\n\"11\" | Adquisició\
    n de bienes consignada en escritura pública.\n\"12\" | Adquisición de otros bienes,\
    \ no consignada en escritura pública.\n\"13\" | Otros retiros de AFORE.\n\"14\"\
    \ | Dividendos o utilidades distribuidas.\n\"15\" | Remanente distribuible.\n\"\
    16\" | Intereses.\n\"17\" | Arrendamiento en fideicomiso.\n\"18\" | Pagos realizados\
    \ a favor de residentes en el extranjero.\n\"19\" | Enajenación de acciones u\
    \ operaciones en bolsa de valores.\n\"20\" | Obtención de premios.\n\"21\" | Fideicomisos\
    \ que no realizan actividades empresariales.\n\"22\" | Planes personales de retiro.\n\
    \"23\" | Intereses reales deducibles por créditos hipotecarios.\n\"24\" | Operaciones\
    \ Financieras Derivadas de Capital.\n\"25\" | Otro tipo de retenciones.\n\"26\"\
    \ | Servicios mediante Plataformas Tecnológicas\n\n### Validez de obligaciones\n\
    \n| Validez | IVA Exento | Tasa 0% | Tasa 8% Fronteriza Norte | Tasa 8% Fronteriza\
    \ Sur | Tasa 16%\n|:-------:|:----------:|:-------:|:------------------------:|:----------------------:|:--------\n\
    | \"0\" <td colspan=\"5\">El contribuyente no está autorizado para emitir facturas</td>\n\
    | \"1\" | Sí | Sí | No | No | Sí\n| \"2\" | Sí | Sí | Sí | No | Sí\n| \"3\" |\
    \ Sí | Sí | No | Sí | Sí\n| \"4\" | Sí | Sí | Sí | Sí | Sí\n\n#### Situación del\
    \ contribuyente\n\n| Valor | Explicación\n|:-----:|:-----------\n| \"Previsto\"\
    \ | Vía buzón tributario o notificaciones por estrados, el contribuyente recibe\
    \ un oficio en el que se establece su situación y se le solicita que demuestre\
    \ la materialidad de las operaciones facturadas.\n| \"Presunto\" | El contribuyente\
    \ notificado se considera presunto cuando, en su página web, la autoridad emite\
    \ sus datos dentro de la relación de los EFOS, es decir, en las listas negras\
    \ del SAT.\n| \"Desvirtuado\" | En este caso, el contribuyente acusado de operaciones\
    \ inexistentes ya aportó a la autoridad la documentación e información pertinente\
    \ para desvirtuar los hechos que llevaron a notificarlo.\n| \"Definitivo\" | En\
    \ este caso, el EFO no atendió el llamado de la autoridad en el plazo de 15 dí\
    as, a partir de la última notificación; o bien, no pudo desvirtuar los hechos\
    \ imputados.\n| \"Sentencia favorable\" | Los contribuyentes EFOS “definitivos”\
    \ que se inconforman e interponen algún medio de defensa, el cual concluye a su\
    \ favor, son clasificados en la lista de “sentencia favorable”.\n| \"EFOS de informació\
    n suprimida\" | En esta categoría, se encuentran los EFOS “presuntos” y “definitivos”\
    \ que presentaron algún medio de defensa (amparo, juicio de nulidad) y, por lo\
    \ tanto, un juez ordenó suprimir sus datos de la lista, sin ser eliminados.\n"
  name: sat_keys
  x-displayName: Claves de catálogos
- description: |
    <SchemaDefinition schemaRef="#/components/schemas/Customer" />
  name: customer_model
  x-displayName: Objeto Customer
- description: |
    <SchemaDefinition schemaRef="#/components/schemas/Product" />
  name: product_model
  x-displayName: Objeto Product
- description: |
    <SchemaDefinition schemaRef="#/components/schemas/Invoice" />
  name: invoice_model
  x-displayName: Objeto Invoice
- description: |
    <SchemaDefinition schemaRef="#/components/schemas/Receipt" />
  name: receipt_model
  x-displayName: Objeto Receipt
- description: |
    <SchemaDefinition schemaRef="#/components/schemas/Retention" />
  name: retention_model
  x-displayName: Objeto Retention
- description: |
    <SchemaDefinition schemaRef="#/components/schemas/Organization" />
  name: organization_model
  x-displayName: Objeto Organización
paths:
  /customers:
    get:
      description: Regresa una lista paginada de todos los clientes de una organización
        o realiza una búsqueda de acuerdo a parámetros
      operationId: listCustomers
      parameters:
      - description: Consulta. Texto a buscar en `legal_name` (nombre fiscal) o en
          `tax_id` (RFC).
        explode: true
        in: query
        name: q
        required: false
        schema:
          type: string
        style: form
      - $ref: '#/components/parameters/SearchDate'
      - $ref: '#/components/parameters/SearchPage'
      - $ref: '#/components/parameters/SearchLimit'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerSearchResult'
          description: Resultado de la búsqueda
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthenticated'
        "404":
          $ref: '#/components/responses/NotFound'
        "500":
          $ref: '#/components/responses/UnexpectedError'
      security:
      - Secret Live Key: []
      - Secret Test Key: []
      summary: Listar clientes
      tags:
      - customer
      x-codeSamples:
      - lang: Bash
        label: cURL
        source: |
          curl https://www.facturapi.io/v2/customers \
            -H "Authorization: Bearer sk_test_API_KEY"
            -G
            -d 'q=Dunder'
            -d 'date[gt]=2021-07-14T06:00:00.000Z'
            -d 'date[lt]=2021-08-14T06:00:00.000Z'
            -d 'page=1'
      - lang: JavaScript
        label: Node.js
        source: |
          const Facturapi = require('facturapi');
          const facturapi = new Facturapi('sk_test_API_KEY');
          const searchResult = await facturapi.customers.list({
            q: 'Dunder',
            date: {
              gt: new Date('2021-07-14T06:00:00.000Z'),
              lt: new Date('2021-08-14T06:00:00.000Z')
            },
            page: 1
          });
      - lang: csharp
        label: C#
        source: |
          var facturapi = new FacturapiClient("sk_test_API_KEY");
          var searchResult = await facturapi.Customer.ListAsync(new Dictionary<string, object>
          {
            ["q"] = "Dunder",
            ["date"] = new Dictionary<string, object>
              {
                ["gt"] = new DateTime("2021-07-14T06:00:00.000Z"),
                ["lt"] = new DateTime("2021-08-14T06:00:00.000Z")
              },
            ["page"] = 1
          });
      - lang: PHP
        source: |
          $facturapi = new Facturapi( "sk_test_API_KEY" );
          $searchResult = $facturapi->Customers->all([
            "q" => "Dunder",
            "date" => [
              "gt" => new DateTime("2021-07-14T06:00:00.000Z"),
              "lt" => new DateTime("2021-08-14T06:00:00.000Z")
            ],
            "page" => 1
          ]);
    post:
      description: |
        Registra un nuevo cliente en Facturapi.

        Esta llamada valida que los datos fiscales coincidan con
        los registros del SAT para ese RFC, de lo contrario, la llamada
        devolverá un error indicando el problema.

        Una vez creado el cliente y obtenido un objeto de respuesta,
        te recomendamos guardar el ID en tu base de datos junto a la información
        de tu cliente. Posteriormente, puedes llamar al encpoint de Crear Factura
        pasando el ID del cliente en lugar de repetir la información.

        Por último, ten en cuenta que los clientes que crees en ambiente _Test_ **no se
        comparten** con el ambiente _Live_.
      operationId: createCustomer
      requestBody:
        $ref: '#/components/requestBodies/CustomerCreate'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customer'
          description: Nuevo objeto `Customer` creado
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customer'
          description: Un objeto `Customer` con la misma información ya existía
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthenticated'
        "404":
          $ref: '#/components/responses/NotFound'
        "500":
          $ref: '#/components/responses/UnexpectedError'
      security:
      - Secret Live Key: []
      - Secret Test Key: []
      summary: Crear cliente
      tags:
      - customer
      x-codeSamples:
      - lang: Bash
        label: cURL
        source: |
          curl https://www.facturapi.io/v2/customers \
            -H "Authorization: Bearer sk_test_API_KEY" \
            -H "Content-Type: application/json" \
            -d '{
                  "legal_name": "Dunder Mifflin",
                  "email": "email@example.com",
                  "tax_id": "ABC101010111",
                  "tax_system": "601",
                  "address": {
                    "zip": "01234"
                  }
                }'
      - lang: JavaScript
        label: Node.js
        source: |
          const Facturapi = require('facturapi');
          const facturapi = new Facturapi('sk_test_API_KEY');
          const customer = await facturapi.customers.create({
            legal_name: 'Dunder Mifflin',
            email: 'email@example.com',
            tax_id: 'ABC101010111',
            tax_system: '601',
            address: {
              zip: '01234'
            }
          });
      - lang: csharp
        label: C#
        source: |
          var facturapi = new FacturapiClient("sk_test_API_KEY");
          var customer = await facturapi.Customer.CreateAsync(new Dictionary<string, object>
          {
            ["legal_name"] = "Dunder Mifflin",
            ["email"] = "email@example.com",
            ["tax_id"] = "ABC101010111",
            ["tax_system"] = "601",
            ["address"] = new Dictionary<string, object>
            {
              ["zip"] = "01234"
            }
          });
      - lang: PHP
        source: |
          $facturapi = new Facturapi( "sk_test_API_KEY" );
          $customer = $facturapi->Customers->create([
            "email" => "email@example.com",
            "legal_name" => "Dunder Mifflin",
            "tax_id" => "ABC101010111",
            "tax_system" => "601",
            "address" => [
              "zip" => "01234"
            ]
          ]);
  /customers/{customer_id}:
    delete:
      description: Elimina el cliente de tu organización. Las facturas asociadas al
        cliente **no** se eliminarán.
      operationId: deleteCustomer
      parameters:
      - description: ID del objeto a eliminar
        explode: false
        in: path
        name: customer_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customer'
          description: Objeto `Customer` eliminado correctamente
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthenticated'
        "500":
          $ref: '#/components/responses/UnexpectedError'
      security:
      - Secret Live Key: []
      - Secret Test Key: []
      summary: Eliminar cliente
      tags:
      - customer
      x-codeSamples:
      - lang: Bash
        label: cURL
        source: |
          curl https://www.facturapi.io/v2/customers/590ce6c56d04f840aa8438af \
            -X DELETE \
            -H "Authorization: Bearer sk_test_API_KEY"
      - lang: JavaScript
        label: Node.js
        source: |
          const Facturapi = require('facturapi');
          const facturapi = new Facturapi('sk_test_API_KEY');
          const removedCustomer = await facturapi.customers.del('590ce6c56d04f840aa8438af');
      - lang: csharp
        label: C#
        source: |
          var facturapi = new FacturapiClient("sk_test_API_KEY");
          var customer = await facturapi.Customer.DeleteAsync("590ce6c56d04f840aa8438af");
      - lang: PHP
        source: |
          $facturapi = new Facturapi( "sk_test_API_KEY" );
          $facturapi->Customers->delete( "5a3fefd9f508333611ad6b43" );
    get:
      description: Regresa el objeto 'Customer' relacionado al `id` especificado.
      operationId: getCustomer
      parameters:
      - description: ID del objeto a obtener
        explode: false
        in: path
        name: customer_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customer'
          description: Objeto `Customer`
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthenticated'
        "500":
          $ref: '#/components/responses/UnexpectedError'
      security:
      - Secret Live Key: []
      - Secret Test Key: []
      summary: Obtener cliente por ID
      tags:
      - customer
      x-codeSamples:
      - lang: Bash
        label: cURL
        source: |
          curl https://www.facturapi.io/v2/customers/590ce6c56d04f840aa8438af \
            -H "Authorization: Bearer sk_test_API_KEY"
      - lang: JavaScript
        label: Node.js
        source: |
          const Facturapi = require('facturapi');
          const facturapi = new Facturapi('sk_test_API_KEY');
          const customer = await facturapi.customers.retrieve('590ce6c56d04f840aa8438af');
      - lang: csharp
        label: C#
        source: |
          var facturapi = new FacturapiClient("sk_test_API_KEY");
          var customer = await facturapi.Customer.RetrieveAsync("590ce6c56d04f840aa8438af");
      - lang: PHP
        source: |
          $facturapi = new Facturapi( "sk_test_API_KEY" );
          $customer = $facturapi->Customers->retrieve( "5a3ee743f508333611ad6b3c" );
    put:
      description: "Actualiza la información de un cliente existente, asignando los\
        \ valores de los parámetros enviados. Los parámetros que no se envíen en la\
        \ petición no se modificarán."
      operationId: editCustomer
      parameters:
      - description: ID del objeto a editar
        explode: false
        in: path
        name: customer_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/CustomerEdit'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customer'
          description: Objeto `Customer` editado correctamente
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthenticated'
        "500":
          $ref: '#/components/responses/UnexpectedError'
      security:
      - Secret Live Key: []
      - Secret Test Key: []
      summary: Editar cliente
      tags:
      - customer
      x-codeSamples:
      - lang: Bash
        label: cURL
        source: |
          curl https://www.facturapi.io/v2/customers/590ce6c56d04f840aa8438af \
            -X PUT
            -H "Authorization: Bearer sk_test_API_KEY" \
            -H "Content-Type: application/json" \
            -d '{
                  "email": "jdoe@example.com",
                  "address": {
                    "street": "Santa Monica Ave."
                  }
                }'
      - lang: JavaScript
        label: Node.js
        source: |
          const Facturapi = require('facturapi');
          const facturapi = new Facturapi('sk_test_API_KEY');
          const customer = await facturapi.customers.update(
            '590ce6c56d04f840aa8438af',
            {
              email: 'jdoe@example.com',
              address: {
                street: 'Santa Monica Ave.'
              }
            }
          );
      - lang: csharp
        label: C#
        source: |
          var facturapi = new FacturapiClient("sk_test_API_KEY");
          var customer = await facturapi.Customer.UpdateAsync(
            "590ce6c56d04f840aa8438af",
            new Dictionary<string, object>
            {
              ["email"] = "jdoe@example.com",
              ["address"] = new Dictionary<string, object>
              {
                ["street"] = "Santa Monica Ave."
              }
            }
          );
      - lang: PHP
        source: |
          $facturapi = new Facturapi( "sk_test_API_KEY" );
          $customer = $facturapi->Customers->update("590ce6c56d04f840aa8438af", [
            "email" => "jdoe@example.com",
            "legal_name" => "Dunder Mifflin",
            "address" => [
              "street" => "Santa Monica Ave."
            ]
          ]);
  /customers/{customer_id}/tax-info-validation:
    get:
      description: |
        Valida que la información fiscal del cliente coincida con los registros del SAT.

        Su función principal es validar que los datos del cliente registraado siguen cumpliendo la validación del SAT.

        :::tip
          Las operaciones de crear cliente, editar cliente y crear factura ya realizan una
          validación de la información del cliente, por lo que **no** es necesario llamar a este endpoint
          antes de realizar dichas operaciones.
        :::
      operationId: validateCustomerTaxInfo
      parameters:
      - description: ID del objeto `Customer` a validar
        explode: false
        in: path
        name: customer_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/validateCustomerTaxInfo_200_response'
          description: Resultado de la validación
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthenticated'
        "500":
          $ref: '#/components/responses/UnexpectedError'
      security:
      - Secret Live Key: []
      summary: Validar información fiscal
      tags:
      - customer
      x-codeSamples:
      - lang: Bash
        label: cURL
        source: |
          curl https://www.facturapi.io/v2/customers/590ce6c56d04f840aa8438af/tax-info-validation \
            -H "Authorization: Bearer sk_test_API_KEY"
      - lang: JavaScript
        label: Node.js
        source: |
          const Facturapi = require('facturapi');
          const facturapi = new Facturapi('sk_test_API_KEY');
          const customer = await facturapi.customers.validateTaxInfo('590ce6c56d04f840aa8438af');
      - lang: csharp
        label: C#
        source: |
          var facturapi = new FacturapiClient("sk_test_API_KEY");
          var customer = await facturapi.Customer.ValidateTaxInfoAsync("590ce6c56d04f840aa8438af");
      - lang: PHP
        source: |
          $facturapi = new Facturapi( "sk_test_API_KEY" );
          $customer = $facturapi->Customers->validateTaxInfo( "5a3ee743f508333611ad6b3c" );
  /products:
    get:
      description: Regresa una lista paginada de todos los productos de una organización
        o realiza una búsqueda de acuerdo a parámetros
      operationId: listProducts
      parameters:
      - description: Consulta.  Texto a buscar en la descripción del producto o SKU.
        explode: true
        in: query
        name: q
        required: false
        schema:
          type: string
        style: form
      - $ref: '#/components/parameters/SearchPage'
      - $ref: '#/components/parameters/SearchLimit'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductSearchResult'
          description: Resultado de la búsqueda
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthenticated'
        "404":
          $ref: '#/components/responses/NotFound'
        "500":
          $ref: '#/components/responses/UnexpectedError'
      security:
      - Secret Live Key: []
      - Secret Test Key: []
      summary: Listar productos
      tags:
      - product
      x-codeSamples:
      - lang: Bash
        label: cURL
        source: |
          curl https://www.facturapi.io/v2/products \
            -H "Authorization: Bearer sk_test_API_KEY"
            -G
            -d 'q=ukelele'
            -d 'page=1'
      - lang: JavaScript
        label: Node.js
        source: |
          const Facturapi = require('facturapi');
          const facturapi = new Facturapi('sk_test_API_KEY');
          const searchResult = await facturapi.products.list({
            q: 'ukelele',
            page: 1
          });
      - lang: csharp
        label: C#
        source: |
          var facturapi = new FacturapiClient("sk_test_API_KEY");
          var searchResult = await facturapi.Product.ListAsync(new Dictionary<string, object>
          {
            ["q"] = "ukelele",
            ["date"] = new Dictionary<string, object>
              {
                ["gt"] = new DateTime("2021-07-14T06:00:00.000Z"),
                ["lt"] = new DateTime("2021-08-14T06:00:00.000Z")
              },
            ["page"] = 1
          });
      - lang: PHP
        source: |
          $facturapi = new Facturapi( "sk_test_API_KEY" );
          $searchResult = $facturapi->Products->all([
            "q" => "ukelele",
            "page" => 1
          ]);
    post:
      description: |
        Registra un nuevo producto o servicio en tu catálogo de Facturapi.

        Puedes usar el ID del producto para crear facturas sin tener que enviar todos los datos del producto cada vez.

        Te en cuenta que los productos que crees en ambiente _Test_ **no se
        comparten** con el ambiente _Live_.
      operationId: createProduct
      requestBody:
        $ref: '#/components/requestBodies/ProductCreate'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Product'
          description: Nuevo objeto `Product` creado
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthenticated'
        "404":
          $ref: '#/components/responses/NotFound'
        "500":
          $ref: '#/components/responses/UnexpectedError'
      security:
      - Secret Live Key: []
      - Secret Test Key: []
      summary: Crear producto
      tags:
      - product
      x-codeSamples:
      - lang: Bash
        label: cURL
        source: |
          curl https://www.facturapi.io/v2/products \
            -H "Authorization: Bearer sk_test_API_KEY" \
            -H "Content-Type: application/json" \
            -d '{
                  "description": "Ukelele",
                  "product_key": "60131324",
                  "price": 345.60,
                  "sku": "ABC1234"
              }'
      - lang: JavaScript
        label: Node.js
        source: |
          const Facturapi = require('facturapi');
          const facturapi = new Facturapi('sk_test_API_KEY');
          const product = await facturapi.products.create({
            description: 'Ukelele',
            product_key: '60131324',
            price: 345.60,
            sku: 'ABC1234'
          });
      - lang: csharp
        label: C#
        source: |
          var facturapi = new FacturapiClient("sk_test_API_KEY");
          var product = await facturapi.Product.CreateAsync(new Dictionary<string, object>
          {
            ["description"] = "Ukelele",
            ["product_key"] = "60131324",
            ["price"] = 345.60,
            ["sku"] = "ABC1234"
          });
      - lang: PHP
        source: |
          $facturapi = new Facturapi( "sk_test_API_KEY" );
          $product = $facturapi->Products->create([
            "description" => "Ukelele",
            "product_key" => "60131324",
            "price" => 345.60,
            "sku" => "ABC1234"
          ]);
  /products/{product_id}:
    delete:
      description: Elimina el producto de tu organización. Las facturas asociadas
        al producto **no** se eliminarán.
      operationId: deleteProduct
      parameters:
      - description: ID del objeto a eliminar
        explode: false
        in: path
        name: product_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Product'
          description: Objeto `Product` eliminado correctamente
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthenticated'
        "500":
          $ref: '#/components/responses/UnexpectedError'
      security:
      - Secret Live Key: []
      - Secret Test Key: []
      summary: Eliminar producto
      tags:
      - product
      x-codeSamples:
      - lang: Bash
        label: cURL
        source: |
          curl https://www.facturapi.io/v2/products/590e22c26d04f840aa8438b2 \
            -X DELETE \
            -H "Authorization: Bearer sk_test_API_KEY"
      - lang: JavaScript
        label: Node.js
        source: |
          const Facturapi = require('facturapi');
          const facturapi = new Facturapi('sk_test_API_KEY');
          const removedProduct = await facturapi.products.del('590e22c26d04f840aa8438b2');
      - lang: csharp
        label: C#
        source: |
          var facturapi = new FacturapiClient("sk_test_API_KEY");
          var product = await facturapi.Product.DeleteAsync("590e22c26d04f840aa8438b2");
      - lang: PHP
        source: |
          $facturapi = new Facturapi( "sk_test_API_KEY" );
          $facturapi->Products->delete( "590e22c26d04f840aa8438b2" );
    get:
      description: Regresa el objeto `Product` relacionado al `id` especificado.
      operationId: getProduct
      parameters:
      - description: ID del objeto a obtener
        explode: false
        in: path
        name: product_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Product'
          description: Objeto `Product`
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthenticated'
        "500":
          $ref: '#/components/responses/UnexpectedError'
      security:
      - Secret Live Key: []
      - Secret Test Key: []
      summary: Obtener producto por ID
      tags:
      - product
      x-codeSamples:
      - lang: Bash
        label: cURL
        source: |
          curl https://www.facturapi.io/v2/products/590e22c26d04f840aa8438b2 \
            -H "Authorization: Bearer sk_test_API_KEY"
      - lang: JavaScript
        label: Node.js
        source: |
          const Facturapi = require('facturapi');
          const facturapi = new Facturapi('sk_test_API_KEY');
          const product = await facturapi.products.retrieve('590e22c26d04f840aa8438b2');
      - lang: csharp
        label: C#
        source: |
          var facturapi = new FacturapiClient("sk_test_API_KEY");
          var product = await facturapi.Product.RetrieveAsync("590e22c26d04f840aa8438b2");
      - lang: PHP
        source: |
          $facturapi = new Facturapi( "sk_test_API_KEY" );
          $product = $facturapi->Product->retrieve( "590e22c26d04f840aa8438b2" );
    put:
      description: "Actualiza la información de un producto existente, asignando los\
        \ valores de los parámetros enviados. Los parámetros que no se envíen en la\
        \ petición no se modificarán."
      operationId: editProduct
      parameters:
      - description: ID del objeto a editar
        explode: false
        in: path
        name: product_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/ProductEdit'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Product'
          description: Objeto `Product` editado correctamente
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthenticated'
        "500":
          $ref: '#/components/responses/UnexpectedError'
      security:
      - Secret Live Key: []
      - Secret Test Key: []
      summary: Editar producto
      tags:
      - product
      x-codeSamples:
      - lang: Bash
        label: cURL
        source: |
          curl https://www.facturapi.io/v2/products/590e22c26d04f840aa8438b2 \
            -X PUT
            -H "Authorization: Bearer sk_test_API_KEY" \
            -H "Content-Type: application/json" \
            -d '{
                  "price": 456.70
                }'
      - lang: JavaScript
        label: Node.js
        source: |
          const Facturapi = require('facturapi');
          const facturapi = new Facturapi('sk_test_API_KEY');
          const product = await facturapi.products.update(
            '590e22c26d04f840aa8438b2',
            {
              email: 'jdoe@example.com',
              address: {
                street: 'Santa Monica Ave.'
              }
            }
          );
      - lang: csharp
        label: C#
        source: |
          var facturapi = new FacturapiClient("sk_test_API_KEY");
          var product = await facturapi.Product.UpdateAsync(
            "590e22c26d04f840aa8438b2",
            new Dictionary<string, object>
            {
              ["price"] = 456.70
            }
          );
      - lang: PHP
        source: |
          $facturapi = new Facturapi( "sk_test_API_KEY" );
          $product = $facturapi->Products->update("590e22c26d04f840aa8438b2", [
            "price" => 456.70
          ]);
  /invoices:
    get:
      description: Regresa una lista paginada de todas las facturas de una organización
        o realiza una búsqueda de acuerdo a parámetros
      operationId: listInvoices
      parameters:
      - description: |
          Consulta. Texto a buscar en la factura.

          La búsqueda se realizará por coincidencias **parciales** en los campos:

          - `items[].product.description`
          - `customer.legal_name`

          Y por coincidencias **exactas** en los campos:

          - `id`
          - `uuid`
          - `customer.tax_id`
          - `folio_number`
          - `total`
        explode: true
        in: query
        name: q
        required: false
        schema:
          type: string
        style: form
      - description: Identificador del cliente. Útil para obtener las facturas emitidas
          a un sólo cliente.
        explode: true
        in: query
        name: customer
        required: false
        schema:
          type: string
        style: form
      - description: Tipo de factura. Búsqueda por tipo de factura con las claves
          exactas.
        explode: true
        in: query
        name: type
        required: false
        schema:
          enum:
          - I
          - E
          - P
          - "N"
          - T
          type: string
        style: form
      - description: Método de pago. Búsqueda exacta por método de pago.
        explode: true
        in: query
        name: payment_method
        required: false
        schema:
          enum:
          - PUE
          - PPD
          type: string
        style: form
      - $ref: '#/components/parameters/SearchDate'
      - $ref: '#/components/parameters/SearchPage'
      - $ref: '#/components/parameters/SearchLimit'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoiceSearchResult'
          description: Resultado de la búsqueda
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthenticated'
        "404":
          $ref: '#/components/responses/NotFound'
        "500":
          $ref: '#/components/responses/UnexpectedError'
      security:
      - Secret Live Key: []
      - Secret Test Key: []
      summary: Listar facturas
      tags:
      - invoice
      x-codeSamples:
      - lang: Bash
        label: cURL
        source: |
          # Todas las facturas de la organización
          curl "https://www.facturapi.io/v2/invoices" \
            -G \
            -H "Authorization: Bearer sk_test_API_KEY"

          # Todas las facturas emitidas para cierto cliente
          curl "https://www.facturapi.io/v2/invoices" \
            -G \
            -H "Authorization: Bearer sk_test_API_KEY" \
            -d "customer=58e93bd8e86eb318b0197456"

          # Página 3 de los resultados de búsqueda de texto libre
          # de facturas emitidas por cierto cliente entre 2017 y 2019
          curl "https://www.facturapi.io/v2/invoices" \
            -G \
            -H "Authorization: Bearer sk_test_API_KEY" \
            -d "q=Aspiradora+Robot&customer=58e93bd8e86eb318b0197456&date[gte]=2017-01-01T00:00:00.000Z&date[lt]=2020-01-01T00:00:00.000Z&page=3&limit=10"
      - lang: JavaScript
        label: Node.js
        source: |
          const Facturapi = require('facturapi');
          const facturapi = new Facturapi('sk_test_API_KEY');

          // Todas las facturas de la organización
          const invoiceSearch = await facturapi.invoices.list();

          // Todas las facturas emitidas para cierto cliente
          const invoiceSearch = await facturapi.invoices.list({
            customer: '590ce6c56d04f840aa8438af'
          });

          // Página 3 de los resultados de búsqueda de texto libre
          // de facturas emitidas por cierto cliente entre 2017 y 2019
          const invoiceSearch = await facturapi.invoices.list({
            q: 'Aspiradora Robot',
            customer: '590ce6c56d04f840aa8438af',
            date: {
              gte: new Date('2017-01-01T00:00:00.000Z'),
              lt: new Date('2020-01-01T00:00:00.000Z')
            },
            page: 3,
            limit: 10,
          });
      - lang: csharp
        label: C#
        source: "var facturapi = new FacturapiClient(\"sk_test_API_KEY\");\n\n// Todas\
          \ las facturas de la organización\nvar searchResult = await facturapi.Invoice.ListAsync();\n\
          \n// Todas las facturas emitidas para cierto cliente\nvar searchResult =\
          \ await facturapi.Invoice.ListAsync(\n  new Dictionary<string, object>\n\
          \  {\n    [\"customer\"] = \"590ce6c56d04f840aa8438af\"\n  }\n);\n\n// Pá\
          gina 3 de los resultados de búsqueda de texto libre\n// de facturas emitidas\
          \ por cierto cliente entre 2017 y 2019\nvar searchResult = await facturapi.Invoice.ListAsync(\n\
          \  new Dictionary<string, object>\n  {\n    [\"q\"] = \"Aspiradora Robot\"\
          ,\n    [\"customer\"] = \"590ce6c56d04f840aa8438af\",  \n    [\"date\"]\
          \ = new Dictionary<string, object>\n      {\n        [\"gte\"] = new DateTime(\"\
          2017-01-01T00:00:00.000Z\"),\n        [\"lt\"] = new DateTime(\"2020-01-01T00:00:00.000Z\"\
          )\n      },\n    [\"page\"] = 3,\n    [\"limit\"] = 10,\n  }\n);\n"
      - lang: PHP
        source: |
          $facturapi = new Facturapi( "sk_test_API_KEY" );

          // Todas las facturas de la organización
          $invoices = $facturapi->Invoices->all();

          // Todas las facturas emitidas para cierto cliente
          $invoices = $facturapi->Invoices->all([
            customer => "590ce6c56d04f840aa8438af"
          ]);

          // Página 3 de los resultados de búsqueda de texto libre
          // de facturas emitidas por cierto cliente entre 2017 y 2019
          $invoices = $facturapi->Invoices->all([
            q => "Aspiradora Robot",
            customer => "590ce6c56d04f840aa8438af"
            date => [
              gte => new DateTime("2017-01-01T00:00:00.000Z"),
              lt => new DateTime("2020-01-01T00:00:00.000Z")
            ],
            page => 3,
            limit => 10,
          ]);
    post:
      description: |
        Crea una nueva Factura. Si la factura es creada en ambiente Live, ésta será **timbrada y enviada al SAT**.
      operationId: createInvoice
      requestBody:
        $ref: '#/components/requestBodies/InvoiceCreate'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Invoice'
          description: Nuevo objeto `Invoice` creado
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthenticated'
        "404":
          $ref: '#/components/responses/NotFound'
        "500":
          $ref: '#/components/responses/UnexpectedError'
      security:
      - Secret Live Key: []
      - Secret Test Key: []
      summary: Crear factura (CFDI 4.0)
      tags:
      - invoice
      x-codeSamples:
      - lang: Bash
        label: cURL
        source: |
          curl https://www.facturapi.io/v2/invoices \
            -H "Authorization: Bearer sk_test_API_KEY" \
            -H "Content-Type: application/json" \
            -d '{
              "customer": {
                "legal_name": "Dunder Mifflin",
                "email": "email@example.com",
                "tax_id": "ABC101010111",
                "tax_system": "601",
                "address": {
                  "zip": "85900"
                }
              },
              "items": [{
                "quantity": 2,
                "product": {
                  "description": "Ukelele",
                  "product_key": "60131324",
                  "price": 345.60
                }
              }],
              "payment_form": "06",
              "folio_number": 914,
              "series": "F"
            }'
      - lang: JavaScript
        label: Node.js
        source: |
          const Facturapi = require('facturapi');
          const facturapi = new Facturapi('sk_test_API_KEY');
          const invoice = await facturapi.invoices.create({
            customer: {
              legal_name: 'Dunder Mifflin',
              email: 'email@example.com',
              tax_id: 'ABC101010111',
              tax_system: '601',
              address: {
                zip: '85900'
              }
            },
            items: [{
              quantity: 2,
              product: {
                description: 'Ukelele',
                product_key: '60131324',
                price: 345.60
              }
            }],
            payment_form: Facturapi.PaymentForm.DINERO_ELECTRONICO,
            folio_number: 914,
            series: 'F'
          });
      - lang: csharp
        label: C#
        source: |
          var facturapi = new FacturapiClient("sk_test_API_KEY");
          var invoice = await facturapi.Invoice.CreateAsync(new Dictionary<string, object>
          {
            ["customer"] = new Dictionary<string, object>
            {
              ["legal_name"] = "Dunder Mifflin",
              ["email"] = "email@example.com",
              ["tax_id"] = "ABC101010111",
              ["tax_system"] = "601",
              ["address"] = new Dictionary<string, object>
              {
                ["zip"] = "85900"
              }
            },
            ["items"] = new Dictionary<string, object>[]
            {
              new Dictionary<string, object>
              {
                ["product"] = new Dictionary<string, object>
                {
                  ["description"] = "Ukelele",
                  ["product_key"] = "60131324",
                  ["price"] = 345.60
                }
              }
            },
            ["payment_form"] = Facturapi.PaymentForm.DINERO_ELECTRONICO,
            ["folio_number"] = 914,
            ["series"] = "F"
          });
      - lang: PHP
        source: |
          $facturapi = new Facturapi( "sk_test_API_KEY" );
          $invoice = $facturapi->Invoices->create([
            "customer" => [
              "legal_name" => "Dunder Mifflin",
              "email" => "email@example.com",
              "tax_id" => "ABC101010111",
              "tax_system" => "601",
              "address" => [
                "zip" => "85900"
              ]
            ],
            "items" => [
              [
                "quantity" => 2,
                "product" => [
                  "description" => "Ukelele",
                  "product_key" => "60131324",
                  "price" => 420.69,
                  "sku" => "ABC4567"
                ]
              ] // Add as many products as you want to include in your invoice
            ],
            "payment_form" => \Facturapi\PaymentForm::EFECTIVO,
            "folio_number" => 581,
            "series" => "F"
          ]);
  /invoices/{invoice_id}:
    delete:
      description: |
        Realiza una solicitud de cancelación de factura ante el SAT, soportando el esquema de cancelación 2022.

        Al usar este método pueden ocurrir 3 posibles resultados:

        - Que la llamada regrese un error con la explicación de por qué no se pudo cancelar.
        - Que la llamada sea satisfactoria y regrese un objeto `invoice` con la propiedad `status: "canceled"`.
        - Que la llamada sea satisfactoria, pero que la cancelación requiera de confirmación de parte de tu cliente, en cuyo caso se obtendrá como respuesta el objeto `invoice` con las propiedades `status: "valid"` y `cancellation_status: "pending"`.

        En el tercer escenario, el valor de `cancellation_status` será actualizado automáticamente por Facturapi cuando tu cliente acepte, rechace o deje expirar la solicitud, de tal manera que al consultar una factura (usando [Obtener Factura](#operation/getInvoice)), la propiedad `cancellation_status` reflejará el estado más reciente de la soliitud.

        Consulta los valores posibles de `cancellation_status` más abajo.

        Después de la cancelación la factura ya no tendrá validez, el objeto cambiará su `status` a `"canceled"` y seguirá estando disponible para futuras consultas.
      operationId: cancelInvoice
      parameters:
      - description: ID de la factura a cancelar
        explode: false
        in: path
        name: invoice_id
        required: true
        schema:
          type: string
        style: simple
      - description: |
          Clave que representa el motivo de la cancelación de la factura.

          - `01`: **Comprobante emitido con errores con relación**. Cuando la
            factura contiene algún error en las cantidades, claves o cualquier otro dato y ya
            se ha emitido el comprobante que la sustituye, el cual deberá indicarse por medio
            del atributo `substitution`.
          - `02`: **Comprobante emitido con errores sin relación**. Cuando la
            factura contiene algún error en las cantidades, claves o cualquier otro dato y no
            se requiere relacionar con otra factura.
          - `03`: **No se llevó a cabo la operación**. Cuando la venta o transacción no se concretó.
          - `04`: **Operación nominativa relacionada en la factura global**. Cuando se requiere cancelar
            una factura al público en general porque el cliente solicita su comprobante.
        explode: true
        in: query
        name: motive
        required: true
        schema:
          enum:
          - "01"
          - "02"
          - "03"
          - "04"
          type: string
        style: form
      - description: |
          ID de la factura que sustituye a la factura que se está cancelando.

          Puedes usar el ID de Facturapi o el folio fiscal (UUID).
        explode: true
        in: query
        name: substitution
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Invoice'
          description: Solicitud de cancelación exitosa
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthenticated'
        "500":
          $ref: '#/components/responses/UnexpectedError'
      security:
      - Secret Live Key: []
      - Secret Test Key: []
      summary: Cancelar factura
      tags:
      - invoice
      x-codeSamples:
      - lang: Bash
        label: cURL
        source: |
          curl https://www.facturapi.io/v2/invoices/58e93bd8e86eb318b019743d?motive=02 \
            -H "Authorization: Bearer sk_test_API_KEY" \
            -X DELETE
      - lang: JavaScript
        label: Node.js
        source: |
          const Facturapi = require('facturapi');
          const facturapi = new Facturapi('sk_test_API_KEY');
          const invoice = await facturapi.invoices.cancel(
            '58e93bd8e86eb318b019743d',
            { motive: '02' }
          );
      - lang: csharp
        label: C#
        source: |
          var facturapi = new FacturapiClient("sk_test_API_KEY");
          var invoice = await facturapi.Invoice.CancelAsync(
            "58e93bd8e86eb318b019743d",
            new Dictionary<string, object>
            {
              ["motive"] = "02"
            }
          );
      - lang: PHP
        source: |
          $facturapi = new Facturapi( "sk_test_API_KEY" );
          $facturapi->Invoices->cancel(
            "58e93bd8e86eb318b019743d",
            [
              "motive" => "02"
            ]
          );
    get:
      description: Regresa el objeto 'Invoice' relacionado al `id` especificado.
      operationId: getInvoice
      parameters:
      - description: ID del objeto a obtener
        explode: false
        in: path
        name: invoice_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Invoice'
          description: Objeto `Invoice`
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthenticated'
        "500":
          $ref: '#/components/responses/UnexpectedError'
      security:
      - Secret Live Key: []
      - Secret Test Key: []
      summary: Obtener factura por ID
      tags:
      - invoice
      x-codeSamples:
      - lang: Bash
        label: cURL
        source: |
          curl https://www.facturapi.io/v2/invoices/58e93bd8e86eb318b019743d \
            -H "Authorization: Bearer sk_test_API_KEY"
      - lang: JavaScript
        label: Node.js
        source: |
          const Facturapi = require('facturapi');
          const facturapi = new Facturapi('sk_test_API_KEY');
          const invoice = await facturapi.invoices.retrieve('58e93bd8e86eb318b019743d');
      - lang: csharp
        label: C#
        source: |
          var facturapi = new FacturapiClient("sk_test_API_KEY");
          var invoice = await facturapi.Invoice.RetrieveAsync("58e93bd8e86eb318b019743d");
      - lang: PHP
        source: |
          $facturapi = new Facturapi( "sk_test_API_KEY" );
          $invoice = $facturapi->Invoices->retrieve( "58e93bd8e86eb318b019743d" );
  /invoices/{invoice_id}/cancellation_receipt/xml:
    get:
      description: Descarga acuse de recibo de cancelación de una factura en un archivo
        xml.
      operationId: downloadCancellationReceiptXml
      parameters:
      - description: ID del objeto a obtener
        explode: false
        in: path
        name: invoice_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/octet-stream:
              schema:
                format: binary
                type: string
          description: Archivo del acuse de recibo de cancelación
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthenticated'
        "500":
          $ref: '#/components/responses/UnexpectedError'
      security:
      - Secret Live Key: []
      - Secret Test Key: []
      summary: Descargar acuse de cancelación
      tags:
      - invoice
      x-codeSamples:
      - lang: Bash
        label: cURL
        source: |
          # Acuse de factura cancelada
          curl https://www.facturapi.io/v2/invoices/58e93bd8e86eb318b019743d/cancellation_receipt/xml \
            -H "Authorization: Bearer sk_test_API_KEY"
            -X GET
      - lang: JavaScript
        label: Node.js
        source: |
          const Facturapi = require('facturapi');
          const facturapi = new Facturapi('sk_test_API_KEY');

          // Acuse de factura cancelada
          await facturapi.invoices.downloadCancellationReceiptXml('58e93bd8e86eb318b019743d');
      - lang: csharp
        label: C#
        source: |
          // Acuse de factura cancelada
          await facturapi.Invoice.DownloadCancellationReceiptXmlAsync("58e93bd8e86eb318b019743d");
      - lang: PHP
        source: |
          $facturapi = new Facturapi( "sk_test_API_KEY" );

          // Acuse de factura cancelada
          $facturapi->Invoices->download_cancellation_receipt_xml("58e93bd8e86eb318b019743d");
  /invoices/{invoice_id}/{format}:
    get:
      description: "Descarga tu Factura en PDF, XML o ambos en un archivo comprimido\
        \ ZIP."
      operationId: downloadInvoice
      parameters:
      - description: ID del objeto a descargar
        explode: false
        in: path
        name: invoice_id
        required: true
        schema:
          type: string
        style: simple
      - description: Formato del archivo de descarga
        explode: false
        in: path
        name: format
        required: true
        schema:
          enum:
          - xml
          - pdf
          - zip
          type: string
        style: simple
      responses:
        "200":
          content:
            application/octet-stream:
              schema:
                format: binary
                type: string
          description: Archivo del comprobante CFDI en el formato solicitado
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthenticated'
        "500":
          $ref: '#/components/responses/UnexpectedError'
      security:
      - Secret Live Key: []
      - Secret Test Key: []
      summary: Descargar factura
      tags:
      - invoice
      x-codeSamples:
      - lang: Bash
        label: cURL
        source: |
          ## Descargar PDF y XML comprimidos en archivo ZIP
          curl https://www.facturapi.io/v2/invoices/58e93bd8e86eb318b019743d/zip \
            -H "Authorization: Bearer sk_test_API_KEY"

          ## Descargar sólo el PDF
          curl https://www.facturapi.io/v2/invoices/58e93bd8e86eb318b019743d/pdf \
            -H "Authorization: Bearer sk_test_API_KEY"

          ## Descargar sólo el XML
          curl https://www.facturapi.io/v2/invoices/58e93bd8e86eb318b019743d/xml \
            -H "Authorization: Bearer sk_test_API_KEY"
      - lang: JavaScript
        label: Node.js
        source: |
          const fs = require('fs');
          const Facturapi = require('facturapi');
          const facturapi = new Facturapi('sk_test_API_KEY');

          // Descargar PDF y XML comprimidos en archivo ZIP
          const zipStream = await facturapi.invoices.downloadZip('58e93bd8e86eb318b019743d');
          const zipFile = fs.createWriteStream('./factura.zip');
          zipStream.pipe(zipFile);

          // Descargar sólo el PDF
          const pdfStream = await facturapi.invoices.downloadPdf('58e93bd8e86eb318b019743d');
          const pdfFile = fs.createWriteStream('./factura.pdf');
          pdfStream.pipe(pdfFile);

          // Descargar sólo el XML
          const xmlStream = await facturapi.invoices.downloadXml('58e93bd8e86eb318b019743d');
          const xmlFile = fs.createWriteStream('./factura.xml');
          xmlStream.pipe(xmlFile);
      - lang: csharp
        label: C#
        source: |
          // Descargar PDF y XML comprimidos en archivo ZIP
          var zipStream = await facturapi.Invoice.DownloadZipAsync("58e93bd8e86eb318b019743d");
          // Descargar sólo el XML
          var xmlStream = await facturapi.Invoice.DownloadXmlAsync("58e93bd8e86eb318b019743d");
          // Descargar sólo el PDF
          var pdfStream = await facturapi.Invoice.DownloadPdfAsync("58e93bd8e86eb318b019743d");

          // Para guardar la descarga en un archivo
          var file = new System.IO.FileStream("C:\\route\\to\\save\\invoice.zip", FileMode.Create);
          zipStream.CopyTo(file);
          file.Close();
      - lang: PHP
        source: "$facturapi = new Facturapi( \"sk_test_API_KEY\" );\n\n// stream containing\
          \ the PDF and XML as a ZIP file\n$zip = $facturapi->Invoices->download_zip(\"\
          58e93bd8e86eb318b019743d\");\n// stream containing the PDF file\n$pdf =\
          \ $facturapi->Invoices->download_pdf(\"58e93bd8e86eb318b019743d\"); \n//\
          \ stream containing the XML file\n$xml = $facturapi->Invoices->download_xml(\"\
          58e93bd8e86eb318b019743d\");\n"
  /invoices/{invoice_id}/email:
    post:
      description: "Envía un correo electrónico a la dirección de tu cliente, con\
        \ los archivos XML y PDF adjuntos al mensaje."
      operationId: sendInvoiceByEmail
      parameters:
      - description: ID del objeto a obtener
        explode: false
        in: path
        name: invoice_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/sendInvoiceByEmail_request'
      responses:
        "200":
          content:
            application/octet-stream:
              schema:
                format: binary
                type: string
          description: Archivo del comprobante CFDI en el formato solicitado
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthenticated'
        "500":
          $ref: '#/components/responses/UnexpectedError'
      security:
      - Secret Live Key: []
      - Secret Test Key: []
      summary: Enviar factura por correo electrónico
      tags:
      - invoice
      x-codeSamples:
      - lang: Bash
        label: cURL
        source: |
          # Enviar al correo del cliente
          curl https://www.facturapi.io/v2/invoices/58e93bd8e86eb318b019743d/email \
            -H "Authorization: Bearer sk_test_API_KEY"
            -X POST

          # Enviar a otro correo
          curl https://www.facturapi.io/v2/invoices/58e93bd8e86eb318b019743d/email \
            -H "Authorization: Bearer sk_test_API_KEY"
            -X POST
            -H "Content-Type: application/json" \
            -d '{
                  "email": "another_email@example.com"
                }'
      - lang: JavaScript
        label: Node.js
        source: "const Facturapi = require('facturapi');\nconst facturapi = new Facturapi('sk_test_API_KEY');\n\
          \n// Enviar al correo del cliente\nawait facturapi.invoices.sendByEmail('58e93bd8e86eb318b019743d');\n\
          \n// Enviar a otro correo\nawait facturapi.invoices.sendByEmail(\n  '58e93bd8e86eb318b019743d',\n\
          \  { email: 'otro@correo.com' }\n);\n\n// Enviar a más de un correo (má\
          x. 10)\nawait facturapi.invoices.sendByEmail(\n  '58e93bd8e86eb318b019743d',\n\
          \  { \n    email: [\n      'primer@correo.com',\n      'segundo@correo.com'\n\
          \    ]\n  }\n);\n"
      - lang: csharp
        label: C#
        source: |
          // Enviar al correo del cliente
          await facturapi.Invoice.SendByEmailAsync("58e93bd8e86eb318b019743d");

          // Enviar a otro correo
          await facturapi.Invoice.SendByEmailAsync(
            "58e93bd8e86eb318b019743d",
            new Dictionary<string, object>
            {
              ["email"] = "otro@correo.com"
            }
          );

          // Enviar a más de un correo
          await facturapi.Invoice.SendByEmailAsync(
            "58e93bd8e86eb318b019743d",
            new Dictionary<string, object>
            {
              ["email"] = new String[]
              {
                "primer@correo.com",
                "segundo@correo.com"
              }
            }
          );
      - lang: PHP
        source: |
          $facturapi = new Facturapi( "sk_test_API_KEY" );

          // Enviar al correo del cliente
          $facturapi->Invoices->send_by_email("58e93bd8e86eb318b019743d");

          // Enviar a otro correo
          $facturapi->Invoices->send_by_email(
            "58e93bd8e86eb318b019743d",
            "otro@correo.com"
          );

          // Enviar a más de un correo (máx 10)
          $facturapi->Invoices->send_by_email(
            "58e93bd8e86eb318b019743d",
            [
              "primer@correo.com",
              "segundo@correo.com"
            ]
          );
  /receipts:
    get:
      description: Regresa una lista paginada de todos los recibos de una organización
        o realiza una búsqueda de acuerdo a parámetros
      operationId: listReceipts
      parameters:
      - description: |
          Consulta. Texto a buscar en la descripción de los conceptos del recibo o el SKU.
        explode: true
        in: query
        name: q
        required: false
        schema:
          type: string
        style: form
      - description: |
          Código que representa la forma de pago, de acuerdo al [catálogo del SAT](#forma-de-pago). Si se incluye, los recibos se agruparán y se listarán de acuerdo a la forma de pago.
        example: "02"
        explode: true
        in: query
        name: payment_form
        required: false
        schema:
          maxLength: 2
          minLength: 2
          type: string
        style: form
      - $ref: '#/components/parameters/SearchDate'
      - $ref: '#/components/parameters/SearchPage'
      - $ref: '#/components/parameters/SearchLimit'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReceiptSearchResult'
          description: Resultado de la búsqueda
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthenticated'
        "404":
          $ref: '#/components/responses/NotFound'
        "500":
          $ref: '#/components/responses/UnexpectedError'
      security:
      - Secret Live Key: []
      - Secret Test Key: []
      summary: Listar recibos
      tags:
      - receipt
      x-codeSamples:
      - lang: Bash
        label: cURL
        source: |
          # Todos los recibos de la organización
          curl "https://www.facturapi.io/v2/receipts" \
            -G \
            -H "Authorization: Bearer sk_test_API_KEY"

          # Página 3 de los resultados de búsqueda de texto libre
          # de recibos creados entre 2017 y 2019
          curl "https://www.facturapi.io/v2/receipts" \
            -G \
            -H "Authorization: Bearer sk_test_API_KEY" \
            -d "q=Aspiradora+Robot&date[gte]=2017-01-01T00:00:00.000Z&date[lt]=2020-01-01T00:00:00.000Z&page=3&limit=10"
      - lang: JavaScript
        label: Node.js
        source: |
          const Facturapi = require('facturapi');
          const facturapi = new Facturapi('sk_test_API_KEY');

          // Todos los recibos de la organización
          const receiptSearch = await facturapi.receipts.list();

          // Página 3 de los resultados de búsqueda de texto libre
          // de recibos creados entre 2017 y 2019
          const receiptSearch = await facturapi.receipts.list({
            q: 'Aspiradora Robot',
            date: {
              gte: new Date('2017-01-01T00:00:00.000Z'),
              lt: new Date('2020-01-01T00:00:00.000Z')
            },
            page: 3,
            limit: 10,
          });
      - lang: csharp
        label: C#
        source: |
          var facturapi = new FacturapiClient("sk_test_API_KEY");

          // Todos los recibos de la organización
          var searchResult = await facturapi.Receipt.ListAsync();

          // Página 3 de los resultados de búsqueda de texto libre
          // de recibos creados entre 2017 y 2019
          var searchResult = await facturapi.Receipt.ListAsync(
            new Dictionary<string, object>
            {
              ["q"] = "Aspiradora Robot",
              ["date"] = new Dictionary<string, object>
                {
                  ["gte"] = new DateTime("2017-01-01T00:00:00.000Z"),
                  ["lt"] = new DateTime("2020-01-01T00:00:00.000Z")
                },
              ["page"] = 3,
              ["limit"] = 10,
            }
          );
      - lang: PHP
        source: |
          $facturapi = new Facturapi( "sk_test_API_KEY" );

          // Todos los recibos de la organización
          $searchResult = $facturapi->Receipts->all();

          // Página 3 de los resultados de búsqueda de texto libre
          // de recibos creados entre 2017 y 2019
          $searchResult = $facturapi->Receipts->all([
            q => "Aspiradora Robot",
            date => [
              gte => new DateTime("2017-01-01T00:00:00.000Z"),
              lt => new DateTime("2020-01-01T00:00:00.000Z")
            ],
            page => 3,
            limit => 10,
          ]);
    post:
      description: |
        Crea un nuevo Recibo, el cual funge como nota de venta.

        Todos los recibos generan una URL de autofactura que cliente puede
        visitar para llenar sus datos fiscales en un micrositio con el branding
        de la organización.
      operationId: createReceipt
      requestBody:
        $ref: '#/components/requestBodies/ReceiptCreate'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Receipt'
          description: Nuevo objeto `Receipt` creado
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthenticated'
        "404":
          $ref: '#/components/responses/NotFound'
        "500":
          $ref: '#/components/responses/UnexpectedError'
      security:
      - Secret User Key: []
      summary: Crear recibo
      tags:
      - receipt
      x-codeSamples:
      - lang: Bash
        label: cURL
        source: |
          curl https://www.facturapi.io/v2/receipts \
            -H "Authorization: Bearer sk_test_API_KEY" \
            -H "Content-Type: application/json" \
            -d '{
                  "folio_number": 1234,
                  "payment_form": "03",
                  "items": [{
                    "quantity": 1,
                    "product": {
                      "description": "Ukelele",
                      "product_key": "60131324",
                      "price": 345.60,
                      "sku": "ABC1234"
                    }
                  }]
                }'
      - lang: JavaScript
        label: Node.js
        source: |
          const Facturapi = require('facturapi');
          const facturapi = new Facturapi('sk_test_API_KEY');

          const receipt = await facturapi.receipts.create({
            folio_number: 1234,
            payment_form: Facturapi.PaymentForm.DINERO_ELECTRONICO,
            items: [{
              quantity: 1,
              product: {
                description: 'Ukelele',
                product_key: '60131324',
                price: 345.60,
                sku: 'ABC1234'
              }
            }]
          });
      - lang: csharp
        label: C#
        source: |
          var facturapi = new FacturapiClient("sk_test_API_KEY");
          var receipt = await facturapi.Receipt.CreateAsync(new Dictionary<string, object>
          {
            ["folio_number"] = 1234,
            ["payment_form"] = Facturapi.PaymentForm.DINERO_ELECTRONICO,
            ["items"] = new Dictionary<string, object>[]
            {
              new Dictionary<string, object> {
                ["description"] = "Ukelele",
                ["product_key"] = "60131324",
                ["price"] = 345.60,
                ["sku"] = "ABC1234"
              }
            }
          });
      - lang: PHP
        source: |
          $facturapi = new Facturapi( "sk_test_API_KEY" );

          $receipt = $facturapi->Receipts->create([
            "folio_number" => 1234,
            "payment_form" => "03",
            "items" => [
              [
                "product" => [
                  "description" => "Ukelele",
                  "product_key" => "60131324",
                  "price" => 345.60,
                  "sku" => "ABC1234"
                ]
              ]
            ]
          ]);
  /receipts/{receipt_id}:
    delete:
      description: |
        Marca un recibo como cancelado, cambiando su propiedad `status` a `"canceled"`.

        Una vez cancelado, el recibo no podrá ser facturado.
      operationId: cancelReceipt
      parameters:
      - description: ID del recibo a cancelar
        explode: false
        in: path
        name: receipt_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Receipt'
          description: Objeto 'Receipt' cancelado exitosamente
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthenticated'
        "500":
          $ref: '#/components/responses/UnexpectedError'
      security:
      - Secret Live Key: []
      - Secret Test Key: []
      summary: Cancelar recibo
      tags:
      - receipt
      x-codeSamples:
      - lang: Bash
        label: cURL
        source: |
          curl https://www.facturapi.io/v2/receipts/5ebd8e56f5687a013ca0df46 \
            -X DELETE \
            -H "Authorization: Bearer sk_test_API_KEY"
      - lang: JavaScript
        label: Node.js
        source: |
          const Facturapi = require('facturapi');
          const facturapi = new Facturapi('sk_test_API_KEY');
          const receipt = await facturapi.receipts.cancel('5ebd8e56f5687a013ca0df46');
      - lang: csharp
        label: C#
        source: |
          var facturapi = new FacturapiClient("sk_test_API_KEY");
          var receipt = await facturapi.Receipt.CancelAsync("5ebd8e56f5687a013ca0df46");
      - lang: PHP
        source: |
          $facturapi = new Facturapi( "sk_test_API_KEY" );
          $facturapi->Receipts->cancel("5ebd8e56f5687a013ca0df46");
    get:
      description: Regresa el objeto 'Receipt' relacionado al `id` especificado.
      operationId: getReceipt
      parameters:
      - description: ID del objeto a obtener
        explode: false
        in: path
        name: receipt_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Receipt'
          description: Objeto `Receipt`
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthenticated'
        "500":
          $ref: '#/components/responses/UnexpectedError'
      security:
      - Secret Live Key: []
      - Secret Test Key: []
      summary: Obtener recibo por ID
      tags:
      - receipt
      x-codeSamples:
      - lang: Bash
        label: cURL
        source: |
          curl https://www.facturapi.io/v2/receipts/58e93bd8e86eb318b019743d \
            -H "Authorization: Bearer sk_test_API_KEY"
      - lang: JavaScript
        label: Node.js
        source: |
          const Facturapi = require('facturapi');
          const facturapi = new Facturapi('sk_test_API_KEY');
          const receipt = await facturapi.receipts.retrieve('58e93bd8e86eb318b019743d');
      - lang: csharp
        label: C#
        source: |
          var facturapi = new FacturapiClient("sk_test_API_KEY");
          var receipt = await facturapi.Receipt.RetrieveAsync("58e93bd8e86eb318b019743d");
      - lang: PHP
        source: |
          $facturapi = new Facturapi( "sk_test_API_KEY" );
          $receipt = $facturapi->Receipts->retrieve( "58e93bd8e86eb318b019743d" );
  /receipts/{receipt_id}/pdf:
    get:
      description: Descarga el recibo digital en formato PDF.
      operationId: downloadReceiptPdf
      parameters:
      - description: ID del objeto a descargar
        explode: false
        in: path
        name: receipt_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/octet-stream:
              schema:
                format: binary
                type: string
          description: Archivo del recibo digital en formato PDF
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthenticated'
        "500":
          $ref: '#/components/responses/UnexpectedError'
      security:
      - Secret Live Key: []
      - Secret Test Key: []
      summary: Descargar PDF
      tags:
      - receipt
      x-codeSamples:
      - lang: Bash
        label: cURL
        source: |
          curl https://www.facturapi.io/v2/receipts/58e93bd8e86eb318b019743d/pdf \
            -H "Authorization: Bearer sk_test_API_KEY"
      - lang: JavaScript
        label: Node.js
        source: |
          const fs = require('fs');
          const Facturapi = require('facturapi');
          const facturapi = new Facturapi('sk_test_API_KEY');

          // Descargar recibo en formato PDF
          const pdfStream = await facturapi.receipts.downloadPdf('58e93bd8e86eb318b019743d');
          const pdfFile = fs.createWriteStream('./recibo.pdf');
          pdfStream.pipe(pdfFile);
      - lang: csharp
        label: C#
        source: |
          // Descargar recibo en formato PDF
          var pdfStream = await facturapi.Receipt.DownloadPdfAsync("58e93bd8e86eb318b019743d");

          // Para guardar la descarga en un archivo
          var file = new System.IO.FileStream("C:\\route\\to\\save\\receipt.pdf", FileMode.Create);
          pdfStream.CopyTo(file);
          file.Close();
      - lang: PHP
        source: |
          $facturapi = new Facturapi( "sk_test_API_KEY" );

          // stream containing the PDF file
          $pdf = $facturapi->Receipts->download_pdf("58e93bd8e86eb318b019743d");
  /receipts/{receipt_id}/email:
    post:
      description: |
        Envía un correo electrónico a la dirección de tu cliente.

        El correo enviado estará personalizado con el logotipo y los colores de la organización que lo creó,
        e incluirá un botón para facturar el recibo, así con el recibo en formato PDF adjunto al mensaje.
      operationId: sendReceiptByEmail
      parameters:
      - description: ID del objeto a obtener
        explode: false
        in: path
        name: receipt_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/sendReceiptByEmail_request'
      responses:
        "200":
          content:
            application/octet-stream:
              schema:
                format: binary
                type: string
          description: Archivo del comprobante CFDI en el formato solicitado
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthenticated'
        "500":
          $ref: '#/components/responses/UnexpectedError'
      security:
      - Secret Live Key: []
      - Secret Test Key: []
      summary: Enviar recibo por correo electrónico
      tags:
      - receipt
      x-codeSamples:
      - lang: Bash
        label: cURL
        source: |
          # Enviar recibo por correo electrónico
          curl https://www.facturapi.io/v2/receipts/58e93bd8e86eb318b019743d/email \
            -H "Authorization: Bearer sk_test_API_KEY"
            -X POST
            -H "Content-Type: application/json" \
            -d '{
                  "email": "another_email@example.com"
                }'
      - lang: JavaScript
        label: Node.js
        source: "const Facturapi = require('facturapi');\nconst facturapi = new Facturapi('sk_test_API_KEY');\n\
          \n// Enviar recibo por correo electrónico\nawait facturapi.receipts.sendByEmail(\n\
          \  '58e93bd8e86eb318b019743d',\n  { email: 'ejemplo@correo.com' }\n);\n\n\
          // Enviar a más de un correo (máx. 10)\nawait facturapi.receipts.sendByEmail(\n\
          \  '58e93bd8e86eb318b019743d',\n  { \n    email: [\n      'primer@correo.com',\n\
          \      'segundo@correo.com'\n    ]\n  }\n);\n"
      - lang: csharp
        label: C#
        source: |
          // Enviar recibo por correo electrónico
          await facturapi.Receipt.SendByEmailAsync(
            "58e93bd8e86eb318b019743d",
            new Dictionary<string, object>
            {
              ["email"] = "ejemplo@correo.com"
            }
          );

          // Enviar a más de un correo
          await facturapi.Receipt.SendByEmailAsync(
            "58e93bd8e86eb318b019743d",
            new Dictionary<string, object>
            {
              ["email"] = new String[]
              {
                "primer@correo.com",
                "segundo@correo.com"
              }
            }
          );
      - lang: PHP
        source: |
          $facturapi = new Facturapi( "sk_test_API_KEY" );

          // Enviar recibo por correo electrónico
          $facturapi->Receipts->send_by_email(
            "58e93bd8e86eb318b019743d",
            "ejemplo@correo.com"
          );

          // Enviar a más de un correo (máx 10)
          $facturapi->Receipts->send_by_email(
            "58e93bd8e86eb318b019743d",
            [
              "primer@correo.com",
              "segundo@correo.com"
            ]
          );
  /receipts/{receipt_id}/invoice:
    post:
      description: |
        Crea una factura a partir de un recibo.

        Sólo pueden facturarse recibos abiertos (`status = "open"`)

        Una vez facturado, el `status` del recibo cambiará a `"invoiced_to_customer"`.
      operationId: invoiceReceipt
      requestBody:
        $ref: '#/components/requestBodies/ReceiptInvoice'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Invoice'
          description: Nuevo objeto `Invoice` creado
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthenticated'
        "404":
          $ref: '#/components/responses/NotFound'
        "500":
          $ref: '#/components/responses/UnexpectedError'
      security:
      - Secret Live Key: []
      - Secret Test Key: []
      summary: Facturar recibo
      tags:
      - receipt
      x-codeSamples:
      - lang: Bash
        label: cURL
        source: |
          curl https://www.facturapi.io/v2/receipts/5ebd8e56f5687a013ca0df46/invoice \
            -H "Authorization: Bearer sk_test_API_KEY" \
            -H "Content-Type: application/json" \
            -d '{
                  "customer": "58e93bd8e86eb318b0197456",
                  "folio_number": 914,
                  "series": "F"
              }'
      - lang: JavaScript
        label: Node.js
        source: |
          const Facturapi = require('facturapi');
          const facturapi = new Facturapi('sk_test_API_KEY');

          const invoice = await facturapi.receipts.invoice('5ebd8e56f5687a013ca0df46', {
            customer: '58e93bd8e86eb318b0197456',
            folio_number: 914,
            series: 'F'
          });
      - lang: csharp
        label: C#
        source: |
          var facturapi = new FacturapiClient("sk_test_API_KEY");
          var invoice = await facturapi.Receipt.InvoiceAsync("5ebd8e56f5687a013ca0df46", new Dictionary<string, object>
          {
            ["customer"] = "58e93bd8e86eb318b0197456",
            ["folio_number"] = 914,
            ["series"] = "F"
          });
      - lang: PHP
        source: |
          $facturapi = new Facturapi("sk_test_API_KEY");

          $invoice = $facturapi->Receipts->invoice("5a3f3e35f508333611ad6b3e", [
            "customer" => "58e93bd8e86eb318b0197456",
            "folio_number" => 914,
            "series" => "F"
          ]);
  /receipts/global-invoice:
    post:
      description: |
        Crea una factura global que incluirá todos los recibos con `status = “open”` de un cierto periodo.
      operationId: createGlobalInvoice
      requestBody:
        $ref: '#/components/requestBodies/ReceiptCreateGlobalInvoice'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Invoice'
          description: Nuevo objeto `Invoice` creado
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthenticated'
        "404":
          $ref: '#/components/responses/NotFound'
        "500":
          $ref: '#/components/responses/UnexpectedError'
      security:
      - Secret Live Key: []
      - Secret Test Key: []
      summary: Crear factura global
      tags:
      - receipt
      x-codeSamples:
      - lang: Bash
        label: cURL
        source: |
          curl https://www.facturapi.io/v2/receipts/global-invoice \
            -H "Authorization: Bearer sk_test_API_KEY" \
            -H "Content-Type: application/json" \
            -d '{
                  "from": "2021-01-01T05:00:00.000Z",
                  "to": "2021-01-31T04:59:59.999Z",
                  "periodicity": "month",
                  "months": "01",
                  "year": 2021,
                  "folio_number": 1234,
                  "series": "G"
              }'
      - lang: JavaScript
        label: Node.js
        source: |
          const Facturapi = require('facturapi');
          const facturapi = new Facturapi('sk_test_API_KEY');

[...]
